#header {
    padding: 30px 20px 30px 20px;
    width: 100%;
    background: #ffffffa6;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(30px);
    z-index: 1000;
}
#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header button {
  border: none;
  background: transparent;
}

.menuButton {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  position: relative;
}
.menuButton span {
  width: 100%;
  height: 1px;
  background: #000000;
  transition: all 0.3s linear;
  position: relative;
  z-index: 2;
}

.menuButton.clicked {
  width: 30px;
  height: 30px;
}

.menuButton.clicked span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.clicked span:nth-child(2) {
  opacity: 0;
}

.clicked span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

